# Feature Analysis

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('../data/penguins.csv')
df = df.dropna()

## categorical columns

In [4]:
# let's transform the dataset
df['species'] = df['species'].astype('category')
df['island'] = df['island'].astype('category')
df['sex'] = df['sex'].astype('category')
df.info()
# Display the first few rows of the dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 337 entries, 0 to 354
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            337 non-null    category
 1   island             337 non-null    category
 2   bill_length_mm     337 non-null    float64
 3   bill_depth_mm      337 non-null    float64
 4   flipper_length_mm  337 non-null    float64
 5   body_mass_g        337 non-null    float64
 6   sex                337 non-null    category
dtypes: category(3), float64(4)
memory usage: 14.5 KB

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [ ]:
# transform categorical columns to numerical using sklearn's LabelEncoder
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['species'] = label_encoder.fit_transform(df['species'])
df['island'] = label_encoder.fit_transform(df['island'])
df['sex'] = label_encoder.fit_transform(df['sex']) 
# Display the first few rows of the dataset after transformation
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,1
1,0,2,39.5,17.4,186.0,3800.0,0
2,0,2,40.3,18.0,195.0,3250.0,0
5,0,2,36.7,19.3,193.0,3450.0,0
6,0,2,39.3,20.6,190.0,3650.0,1

## Numerical columns

In [ ]:
# standardize numerical columns
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_cols = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
# Display the first few rows of the dataset after standardization
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,-0.902186,0.786013,-1.428921,-0.570014,1
1,0,2,-0.828640,0.122777,-1.071531,-0.507968,0
2,0,2,-0.681550,0.428886,-0.428231,-1.190476,0
5,0,2,-1.343458,1.092122,-0.571186,-0.942291,0
6,0,2,-0.865413,1.755358,-0.785620,-0.694107,1

In [8]:
df.describe()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,337.000000,337.000000,3.370000e+02,3.370000e+02,3.370000e+02,3.370000e+02,337.000000
mean,0.922849,0.646884,8.012055e-16,7.590368e-16,-8.433742e-17,-1.686748e-16,0.501484
std,0.889747,0.713349,1.001487e+00,1.001487e+00,1.001487e+00,1.001487e+00,0.500741
min,0.000000,0.000000,-2.189230e+00,-2.071004e+00,-2.072221e+00,-1.872984e+00,0.000000
25%,0.000000,0.000000,-8.286403e-01,-7.955503e-01,-7.856199e-01,-8.181991e-01,0.000000
50%,1.000000,1.000000,1.642222e-01,7.175849e-02,-2.852751e-01,-1.977376e-01,1.000000
75%,2.000000,1.000000,8.261306e-01,7.860128e-01,8.583704e-01,7.329547e-01,1.000000
max,2.000000,2.000000,2.867015e+00,2.214521e+00,2.144972e+00,2.594339e+00,1.000000